---
import '../../../styles/components/header.css';
import { Image } from '@astrojs/image/components';
const UrlImgLogo = "https://res.cloudinary.com/dk2abyon6/image/upload/v1698939144/Logo/favicon-384x384_nlvwru.png";
---
<div class="div_logo_movil">
    <Image src={UrlImgLogo} alt="descriptive text" 
            width={384} height={384} format={"webp"} loading="eager" decoding="auto"/>
</div>