---
import '../../../styles/components/logo.css';
import { Image } from '@astrojs/image/components';
const UrlImgLogo = "https://res.cloudinary.com/dk2abyon6/image/upload/v1698939144/Logo/favicon-384x384_nlvwru.png";

---
<div class="content_logo">
    <div class="div_logo">
        <a href="/">
            <Image src={UrlImgLogo} alt="descriptive text" 
            width={512} height={512} format={"webp"} loading="eager" decoding="auto"/>
        </a>
    </div>
</div>