:root {
    --color-1: #12000b;
    --color-2: #471b39;
    --color-3: #823131;
    --color-4: #7a3f5f;
    --color-5: #c59b9b;
    --color-6: #f6eeee;
    
    --color-bg: #fcf4f4;
    
    --color-white: white;
    --color-black: black;
  }