@import '../../../styles/colors.css';

.titulo_empresa{
    background: linear-gradient(90deg, rgb(218, 175, 169) 0%, rgb(229, 182, 166) 50%, rgb(230, 86, 86) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}